[2020-09-28 09:15] plazzy99 opened #11 "Hide Notification bar from Splash Screen"
**Is your feature request related to a problem? Please describe.**
It is a good practice of hiding the notification bar on the splash screen. One can notice this in almost all most downloaded app.

**Describe the solution you'd like**
Go write a few lines to hide the notification bar from the splash screen.

[2020-09-28 09:26] rishipurwar1 commented on #11
I would like to work on this issue

[2020-09-28 09:35] plazzy99 opened #12 "Welcome to DSC HackFest 2020"
Hello, Everyone ✨🙌

Thanks for showing your interest in being a part of the **DSC HackFest'2020** 💥

We are super delighted to have you onboard on **Plasma-Donor-App** 🙌

Here are the Mentors for the Project:

| Name :technologist:   |      Social Media #️⃣ |  Github :octocat:  |
|----------|:-------------:|------:|
| Vatsal kesarwani | [LinkedIn](https://www.linkedin.com/in/vatsal-kesarwani-4a385

[2020-09-28 09:39] plazzy99 commented on #11
Hi, @rishipurwar1 !!! We're glad that you want to contribute to this project but we would advise that start contributing from 1st October so as to make it count under Hacktoberfest 2020. See you then! Keep Learning :octocat:

[2020-09-28 09:50] plazzy99 opened #13 "Remove Deprecated class from Splash Screen"
**Describe the bug**
Handler class used in the splash screen is deprecated.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to /plasmadonor/Activity/SplashActivity.kt
2. Click on SplashActivity.kt
3. Scroll down to deprecated Handler Function
4. You will see the Handler function strike-through

**Expected behavior**
Splash stays in view for the given time.

[2020-09-28 13:27] h4rz commented on #13
Hey @plazzy99, assign this issue to me. I would be doing this as part of hacktoberfest, so I would raise a PR on or after 1st October 2020.

[2020-09-28 14:12] plazzy99 commented on #13
Hi, @h4rz !!! We're glad that you want to contribute to this project but we would advise that start contributing from 1st October so as to make it count under Hacktoberfest 2020. See you then! Keep Learning :octocat:

[2020-09-28 14:19] plazzy99 commented on #13
@h4rz till the time you can fork the project and understand the currently implemented project.

[2020-09-28 14:20] plazzy99 commented on #11
@rishipurwar1 till the time you can fork the project and understand the current state of project.

[2020-09-30 13:14] plazzy99 opened #14 "Change Splash Screen Stay time to 2.5 seconds"
**Is your feature request related to a problem? Please describe.**
Currently, splash screen time is too much and the user needs to wait for long.

**Describe the solution you'd like**
You can reduce the splash screen stay time to 2.5 seconds.

[2020-09-30 13:28] plazzy99 opened #15 "Hacktober Fest Live Session"
Ready with your suitcase 💼, packed your bags 🎒, and all set to begin this exciting open-source journey!
Wait, but are you still confused 😵 about which route to follow?
**Don't worry, we've got your back.**

**DSC JSS** brings you a 😃**live** hands-on session to give you a detailed 🗺 roadmap about this Hacktober trip!
 ```Join us``` to get a full explanation about all your milestones by your own me

[2020-09-30 13:33] varunvjha commented on #14
Please assign this issue to me.

[2020-09-30 14:58] plazzy99 commented on #14
Hi, @varunvjha !!! We're glad that you want to contribute to this project but we would advise that start contributing from 1st October so as to make it count under Hacktoberfest 2020. See you then! Keep Learning :octocat:

[2020-09-30 15:02] varunvjha commented on #14
Okay. thanks!!

[2020-09-30 17:55] dheerajkotwani opened #16 "Prevent user from entering multiple line in input fields"
**Describe the bug** The user can Enter Multiple lines in Input Fields in the App.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Any input feild.
2. Try entering multiple line input

**Expected behavior** The user should not be able to enter multiple lines in input fields.

**Screenshots**
![multi_line_input](https://user-images.githubusercontent.com/44086235/94721721-e9965d00-0373-1

[2020-09-30 18:03] dheerajkotwani opened #17 "Make input fields to take specific input types"
**Describe the bug**
Fields are accepting all type of values.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Input Fields
2. Try entering text in phone number or weight fields
3. See error

**Expected behavior**
These fields should only take specific type of input

**Screenshots**

<img src="https://user-images.githubusercontent.com/44086235/94722324-c6b87880-0374-11eb-8a57-3542af30f6

[2020-09-30 18:09] dheerajkotwani opened #18 "Implement Spinner for gender, Blood Group and similar fields"
**Is your feature request related to a problem? Please describe.**
Currently user can enter anything in gender and blood groups sections. Use spinner to restrict to particular values.

**Describe the solution you'd like**
Implement Spinner so users are bound to particular values in case of Gender, blood group or similar fields.

<img src="https://user-images.githubusercontent.com/44086235/94723200

[2020-09-30 18:30] dheerajkotwani opened #19 "Add Loading Dialog in Login/Signup page"
**Is your feature request related to a problem? Please describe.**
After clicking on Login/Signup button there is a delay in loading next page that should be covered with a Loading Dialog.

**Describe the solution you'd like**
After clicking the Login/Signup Button there should be a Loading Dialog which should be display while verifying user and before moving to the next screen.

![login1](https:/

[2020-09-30 18:37] dheerajkotwani opened #21 "Add Circular Progress bar while loading Patients and Donor List"
**Is your feature request related to a problem? Please describe.**
Patients and Donors list page looks empty while loading the list data.

**Describe the solution you'd like**
Add a circular progress bar which should be displayed at the center of page while loading the data for Patients and Donors list.

![progress_loader](https://user-images.githubusercontent.com/44086235/94725818-fa49d180-0379-1

[2020-09-30 18:45] dheerajkotwani opened #22 "Change margin to 16dp from the broder of screen."
**Is your feature request related to a problem? Please describe.**
Margin for the screens are very large.

**Describe the solution you'd like**
Make the margin to 16dp from the borders for the User Details Input page.

<img src="https://user-images.githubusercontent.com/44086235/94726577-0e420300-037b-11eb-8cfa-22128b8ad988.jpeg" height='500'/>

[2020-09-30 18:49] varunvjha commented on #14
I have already submitted the PR. Please merge this @plazzy99

[2020-09-30 19:26] aadityamp01 commented on #22
I would like to work on this issue, can you please assign it to me.

[2020-09-30 19:46] pepoflex commented on #19
Please assign me this project, I would love to work on it.

[2020-09-30 20:09] plazzy99 commented on #22
@aadityamp01 assigned this issue to you.
Hope you have gone through the contribution guidelines.

Happy Learning🥳

[2020-09-30 20:49] dheerajkotwani commented on #19
@pepoflex you can start working on it. Hope you have gone through the contribution guidelines.

Happy Learning🥳

[2020-09-30 22:09] arpitagarwal1301 commented on #16
Would like to work on it please assign it to me .

[2020-10-01 01:02] rishipurwar1 commented on #11
Hello @plazzy99 , I am not able to contribute to this issue. I forgot to check the technology stack. So, please assign this issue to some else.
Sorry about that...

[2020-10-01 02:52] erwinkaaa commented on #21
I have submitted the PR to this issue. Please review!

[2020-10-01 03:25] h4rz commented on #18
@dheerajkotwani, assign this issue to me and do provide the values which need to be used in the spinner

[2020-10-01 03:27] h4rz commented on #17
@dheerajkotwani, I would like to work on it. Do mention which field needs to be of the particular data type.

[2020-10-01 06:07] seth0027 commented on #16
Hey can I
 fix this ?

[2020-10-01 07:03] plazzy99 commented on #16
@arpitagarwal1301  assigned this issue to you.
Hope you have read the contribution guidelines

Happy Coding🥳

[2020-10-01 07:04] plazzy99 commented on #16
issue are assigned on a first-come basis, you can assign another issue.

[2020-10-01 07:22] plazzy99 commented on #11
okay, np

[2020-10-01 07:31] #14 closed

[2020-10-01 11:44] h4rz commented on #13
@plazzy99, I have fixed this issue. Please check PR #25.

[2020-10-01 14:23] abdulbasit75 commented on #11
I would like to work on this issue, please assign this to me.

[2020-10-01 15:19] arpitagarwal1301 opened #32 "App logo instead of white screen on app start"
**Is your feature request related to a problem? Please describe.**
On opening the app , user see a blank screen for some duration . This happens because untill first activity is not started , app shows system default theme which is white.

**Describe the solution you'd like**
We can show an app logo or something like that .

**Additional context**
https://medium.com/@shishirthedev/the-right-way-to

[2020-10-01 15:23] arpitagarwal1301 commented on #16
@plazzy99 Issue fixed . Please check https://github.com/DSC-JSS-NOIDA/Plasma-Donor-App/pull/31

[2020-10-01 19:56] dhruv-1001 opened #33 "Donor List shows swapped information"
**Describe the bug**
Donor List swaps the details about Location and Blood Group

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to Add Donor
2. Add details about Donor and Submit
3. Go to View Donors
5. Search for the name you entered while adding donor
4. See error

**Expected behaviour**
Donor List should show correct details about donor

**Screenshots**

| Add Donor      | View Donor

[2020-10-02 10:17] nakul-19 opened #40 "User is able to submit empty fields when filling the form."
**Describe the bug**
User can submit the details even when some of the required fields are still blank.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Add Donor.
2. Don't fill any details in the form.
3. Click on Submit button.
4. Go to View Donor, there you could find empty donor records.

**Expected behavior**
User should not be able to submit until all the input fields are filled s

[2020-10-02 11:51] #13 closed

[2020-10-02 11:52] #22 closed

[2020-10-02 12:05] #33 closed

[2020-10-02 12:06] dheerajkotwani commented on #11
@abdulbasit75 you can start working to it

[2020-10-02 12:10] dheerajkotwani commented on #32
@arpitagarwal1301 you can use some icon related to blood drop

[2020-10-02 12:15] dheerajkotwani commented on #40
@nakul-19 instead of giving a toast message you can add errors to the particular fields

[2020-10-02 15:45] #40 closed

[2020-10-02 15:49] #21 closed

[2020-10-02 15:55] plazzy99 commented on #17
@h4rz you can start working on this issue 👍🏻

[2020-10-02 15:57] h4rz commented on #17
@plazzy99, there is already a pr mentioning this issue. #30

[2020-10-02 15:59] plazzy99 commented on #17
np, you can raise your pr bcoz this issue is assigned to you and only assigned individual pr are considered.

[2020-10-02 16:09] plazzy99 commented on #18
@h4rz you can start working on this issue 👍🏻

[2020-10-02 16:13] plazzy99 commented on #32
@SanushRadalage do suggest changes in your pr

From next time,
assign the issue before raising a pull request

[2020-10-02 16:19] h4rz commented on #18
@plazzy99, to be on the same page, I will be using the below values for the spinner which will be displayed.

- **Gender**
   - Female
   - Male
   - Other

- **Blood Group**
    - A+
    - A-
    - B+
    - B-
    - 0+
    - 0-
    - AB+
    - AB-

[2020-10-02 16:58] fajarazay opened #45 "Make keyboard only show number to input age & phone number in add patient form screen"
**Is your feature request related to a problem? Please describe.**
User can input anything other than numbers in Age and Mobile field in Add Patient form.

**Describe the solution you'd like**
Make keyboard only show number to input age & phone number in patient form screen

[2020-10-02 18:54] fajarazay opened #47 "Make keyboard only show number to input age & phone number in add donor form screen"
**Is your feature request related to a problem? Please describe.**
User can input anything other than numbers in Age and Mobile field in Add Donor form.

**Describe the solution you'd like**
Make keyboard only show number to input age & phone number in donor form screen

[2020-10-02 23:51] nuhkoca opened #50 "Setup Github Actions to ensure that new features won't break anything in the codebase"
**Is your feature request related to a problem? Please describe.**
Now we might probably merge Pull Requests without test whether it works as expected and don't break anything in the current codebase. Instead of a manual check, we can automate this flow. If a new PR passes all steps, then it means to be merged.

**Describe the solution you'd like**
To set up, a Github Actions CI

**Describe altern

[2020-10-02 23:59] #45 closed

[2020-10-03 00:03] #11 closed

[2020-10-03 06:09] #47 closed

[2020-10-03 07:26] h4rz commented on #18
@plazzy99, I have fixed it. Do check the PR #51.

[2020-10-03 07:26] h4rz commented on #17
@plazzy99, I have fixed it. Do check the PR #51.

[2020-10-03 08:09] SwapnilSRedekar commented on #18
https://github.com/DSC-JSS-NOIDA/Plasma-Donor-App/pull/52 @plazzy99 Here's is my PR, please review the PR

[2020-10-03 08:31] dheerajkotwani commented on #18
@SwapnilSRedekar the issue was already assigned to @h4rz

[2020-10-03 08:41] #17 closed

[2020-10-03 08:41] #18 closed

[2020-10-03 08:43] plazzy99 commented on #16
@arpitagarwal1301 make changes suggested else your issue will be assigned to someone else.

[2020-10-03 08:45] plazzy99 commented on #19
@pepoflex raise your pull request else this issue will be assigned to someone else.

[2020-10-03 09:21] arpitagarwal1301 commented on #16
@plazzy99 Updated please check .

[2020-10-03 09:26] arpitagarwal1301 commented on #32
@plazzy99 @dheerajkotwani The above implementation is wrong there still will be a white screen before splash screen layout is loaded . We can prevent that also . Please assign it to me for the fix.

[2020-10-04 06:19] fajarazay opened #53 "Force Close on Splash Screen in Emulator: Pixel 2 API 30"
**Describe the bug**
I've found bug, it was force close on splash screen when running on emulator API 30
**To Reproduce**
Steps to reproduce the behavior:
1. Running on API 30
2. App force close
4. See error
<img width="1399" alt="Screenshot 2020-10-04 at 13 14 35" src="https://user-images.githubusercontent.com/14243792/95008379-a114c300-0643-11eb-96da-7624aef63271.png">

**Expected behavior**
Ope

[2020-10-04 06:41] #53 closed

[2020-10-08 01:00] erwinkaaa commented on #21
Hey @plazzy99 can you add label hacktoberfest-accepted to this PR please?

[2020-10-08 15:54] nakul-19 opened #55 "Edit text error should be used to inform user about the input field errors."
**Existing idea**
The error in the input fields are informed via toast.

**Describe the idea you suggest**
Edit text error should be used to inform the user about the errors in input fields.

**Would you like to work on the issue?**

- [x] Yes
- [ ] No

[2020-10-09 01:43] dhruv-1001 opened #56 "Add search tags for donor/patient list"
**Is your feature request related to a problem? Please describe.**
On opening view donors/patients the application shows all the data there is in the Firestore and a lot of which might not be useful to the user.

**Describe the solution you'd like**
Add search tags in  view donors/patients so that the user can search for a specific blood type or location.

[2020-10-09 13:41] #55 closed

[2020-10-09 15:39] #15 closed

[2020-10-09 21:54] dhruv-1001 opened #59 ""Profile" does not show some user information"
**Describe the bug**
On editing the profile no changes are shown.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to Profile
2. Click on edit icon (Top right)
3. Input details
4. Click on save
5. See error

**Expected behaviour**
Profile should show the updated information

**Screenshots**
| Edit Profile      | Profile       |
| -------------- | -------------- |
| ![Screenshot_1602279128

[2020-10-10 08:36] dhruv-1001 opened #60 "Pagination for View donors/patients"
**Is your feature request related to a problem? Please describe.**
On opening view donors/patients, application fetches all the data there is in Firestore which takes up some time.

**Describe the solution you'd like**
Add Firestore Pagination for view donors/patients so that the application fetches the data from firestore as the user scrolls down.

[2020-10-10 08:46] EANimesha commented on #59
Can I try to fix this issue?

[2020-10-10 12:07] nakul-19 opened #61 "User can't check if his password is correctly typed or not."
**Describe the bug**
User can't check if his password is correctly typed or not.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Login/Signup Screen
2. Type something in password.
3. You cannot see what you just entered.

**Expected behavior**
Add password visibility eye for respective fields.

**Would you like to work on the issue?**

- [ ] Yes
- [ ] No
- Other:

[2020-10-10 12:15] nakul-19 opened #62 "Add loading while login/signup."
**Describe the bug**
Nothing happens when sign up or login button is clicked until the toast.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Login/Signup.
2. Click on Log in/Sign up button.
3. See the problem.

**Expected behavior**
Loading should be shown while logging in or signing up.

**Would you like to work on the issue?**

- [ ] Yes
- [ ] No
- Other:

[2020-10-10 12:17] nakul-19 opened #63 "Add login with Facebook."
**Is your feature request related to a problem? Please describe.**
There is no option to login with Facebook.

**Describe the solution you'd like**
Login with Facebook should be added.

[2020-10-10 12:21] EANimesha commented on #62
I like to work in this issue.Assign me

[2020-10-10 12:21] nakul-19 opened #64 "Not all input field errors are shown while signing up."
**Describe the bug**
Not all input field errors are shown while signing up.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Sign up screen.
2. Click on Sign up without entering anything.
3. Input field error is shown only for Email while all the fields are empty.

**Expected behavior**
Input field errors should be shown for all faulty fields.

**Would you like to work on the issue?**

[2020-10-10 12:27] nakul-19 opened #65 "Nothing happens when we try to update our profile data."
**Describe the bug**
Nothing happens when we try to update our profile data.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Profile.
2. Click on Edit icon.
3. Input any distinct data.
4. Click on Save.
5. See error.

**Expected behavior**
Data should have been updated.

**Would you like to work on the issue?**

- [ ] Yes
- [ ] No
- Other:

[2020-10-10 12:46] #65 closed

[2020-10-10 12:49] dhruv-1001 opened #66 "Edit Profile accepting wrong data"
**Describe the bug**
Edit profile fragment accepts any type of user input in input fields

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to Profile
2. Click on Edit Profile icon (Top Right)
3. Input any data
4. See error

**Expected behaviour**
Blood Group and Gender should accept selected data which can be implemented using spinners
Age and Mobile should only accept numbers.

**Would y

[2020-10-10 15:49] plazzy99 commented on #59
yes you can start working on this issue

Hope you have gone to through the ```contribution.md``` to make the correct pull request

Happy Coding 🥳🥳

[2020-10-10 16:11] plazzy99 commented on #50
@nuhkoca you have been assigned this issue.
You can start working on it.

Hope you have gone through the contribution guidelines.

Happy Contributing.🥳

[2020-10-10 19:47] ardlank commented on #61
@nakul-19 can I work on this?

[2020-10-10 19:59] ardlank commented on #61
PR: https://github.com/DSC-JSS-NOIDA/Plasma-Donor-App/pull/67

[2020-10-11 01:15] ardlank commented on #64
@nakul-19 can I work on this?

[2020-10-11 01:15] ardlank commented on #64
PR: https://github.com/DSC-JSS-NOIDA/Plasma-Donor-App/pull/68

[2020-10-11 06:59] karan7393065010 commented on #63
Can I work on this issue @nakul-19 .

[2020-10-11 10:29] nuhkoca commented on #50
@plazzy99 thanks I will create an appropriate PR!

[2020-10-11 15:58] dheerajkotwani opened #69 "Edit Profile not showing the saved data from the servers."
**Describe the bug**
Edit Profile not showing the saved data from the servers.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Profile Section.
2. Click on Edit Profile
4. See bug

**Expected behavior**
While opening the edit profile screen the data is not showing that is saved on the server.

**Would you like to work on the issue?**

- [ ] Yes
- [ ] No
- Other: Open to all

[2020-10-11 16:01] dheerajkotwani opened #70 "UI enhancement."
**Is your feature request related to a problem? Please describe.**
The UI for the App is very basic and need a good UI for the Application.

**Describe the solution you'd like**
Create Figma File of good and modern UI following the material design guidelines for the App.

- Open to All

[2020-10-11 16:08] gauravgeek23 commented on #70
@dheerajkotwani I would like to create the Figma UI for the app.

[2020-10-11 16:08] dheerajkotwani commented on #70
@gauravgeek23 you can start working on it.

[2020-10-12 08:08] Kardelio commented on #66
Hey there @dhruv-1001
I have had a brief look at this and would be really interested in getting involved and trying to tackle this issue.
Would that be ok?

Also if it is ok, my next question is do you have test user accounts for development or should i just create a test account and use that?

[2020-10-12 08:36] #61 closed

[2020-10-12 08:52] Kardelio commented on #66
PR: #71

[2020-10-12 09:18] #66 closed

[2020-10-13 12:05] lingarajsankaravelu commented on #69
I like to take this up

[2020-10-13 18:57] fajarazay commented on #16
is it done? Would like to work on it please assign it to me now?

[2020-10-14 14:05] #64 closed

[2020-10-15 09:47] karan7393065010 commented on #63
I am having issues with  fetching data .
So you can assign it to another one.

[2020-10-15 10:26] thearavind commented on #56
Hi @dhruv-1001 I would like to work on this issue

[2020-10-16 20:33] nuhkoca opened #73 "Introduce FAQ Screen"
**Additional context**
Implementing FAQ screens with content. How can I do that? Is there a prepared text?

I'd like to work on this feature.

[2020-10-16 20:51] jcasteele commented on #73
I'd be interested in working on a FAQ screen for the app. The main page mentions an FAQ regarding details about plasma; would this be the implementation of that (I'm assuming with information about plasma and plasma donation) or would this be supplemental information to go with an existing FAQ?

[2020-10-16 20:56] nuhkoca commented on #73
Let's wait for a comment from one of the maintainers. Unfortunately, I'll take this feature to complete. You can check missing parts of the project in README and create a feature proposal, though.

[2020-10-16 22:33] nuhkoca commented on #60
I'd like to work on this.

[2020-10-17 05:39] Jeewantha95 commented on #73
Hi, I would like to work on this feature. Please assign it to me.

[2020-10-17 18:11] lingarajsankaravelu commented on #59
@EANimesha and @plazzy99 . I was working on issue #69, which was related to this issue in one way or another, So I have fixed this without knowing there was a separate issue opened.

[2020-10-18 20:01] nuhkoca commented on #73
Sorry, I opened this issue to take on me.

[2020-10-19 12:39] #50 closed

[2020-10-19 12:47] dheerajkotwani commented on #73
@nuhkoca there's already a FAQ page added to the app you can search some content related to app that can be useful for the users and add to it.

[2020-10-19 13:02] nuhkoca commented on #73
@dheerajkotwani yes, I will fix the data fetch method for this screen how I did in the Donor and Patient screens. In the meantime, how can I add extra FAQs to the Firebase collection?

[2020-10-19 15:09] #60 closed

[2020-10-20 06:04] dhruv-1001 commented on #56
@thearavind, are you working on this issue?

[2020-10-20 06:09] thearavind commented on #56
@dhruv-1001 Yes I will raise a PR today or tomorrow

[2020-10-20 15:36] nuhkoca commented on #73
cc @plazzy99

[2020-10-20 17:37] dheerajkotwani commented on #73
provide your email so I can add you to it till you are working on this

[2020-10-20 18:09] nuhkoca commented on #73
@dheerajkotwani it is nuhkocatest@gmail.com

[2020-10-20 20:05] abdulbasit75 opened #77 "Login with Gmail Bug (not working)"
**Describe the bug**
Log in with Gmail is not working getting error on Log in.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Login screen
2. Click on 'Login with Gmail'
3. See error 'Login Failed: 10:'

**Expected behavior**
Should be able to login with Gmail
Should follow UI guideline for implementing login with gmail button

**Screenshots**
![processed](https://user-images.githubus

[2020-10-20 20:06] abdulbasit75 commented on #77
I would like to work on this issue, please assign me.

[2020-10-22 08:42] #69 closed

[2020-10-22 08:43] #59 closed

[2020-10-22 09:54] nuhkoca commented on #19
I can take this :)

[2020-10-25 11:31] abdulbasit75 commented on #77
@nakul-19

Error details DEVELOPER_ERROR
The application is misconfigured. This error is not recoverable and will be treated as fatal. The developer should look at the logs after this to determine more actionable information.

Can you please share the updated request id token or give me access so i can generate it.

[2020-10-28 22:31] nuhkoca commented on #19
@plazzy99 last 2 days, give it to me :)

[2020-10-28 22:31] nuhkoca commented on #73
@dheerajkotwani last 2 days, pls speed it up :)

[2020-10-29 06:48] dheerajkotwani commented on #73
@nuhkoca added you to firebase console

[2020-10-29 12:43] #19 closed

[2020-10-29 12:44] #73 closed

[2020-12-04 12:27] #12 closed

[2020-12-09 10:44] #32 closed

[2020-12-16 13:46] #62 closed

[2020-12-17 17:54] #70 closed

[2020-12-19 20:07] #16 closed

[2020-12-21 08:05] sumit619sharma commented on #63
Hii, can i work on this issue @nakul-19

[2020-12-21 09:33] plazzy99 commented on #63
@sumit619sharma go-ahead 👍🏻

[2020-12-25 11:37] sumit619sharma commented on #63
Hi, I m not able to connect app with firebase, it shows  gradle build issue. I resync all the gradle dependencies still it shows error.
![20201224_154230 1](https://user-images.githubusercontent.com/72352873/103133959-6cbd0b80-4662-11eb-8f44-0361214dbe82.jpg)

[2020-12-26 07:09] #56 closed

[2020-12-27 07:57] sumit619sharma commented on #63
we are not able to  login app even with google Sign In. It shows Login Failed 10

[2020-12-27 09:22] sumit619sharma opened #81 "Sign in with Google Bug(not Working)"
**Describe the** **bug**
Sign in with Google is not Working getting error on Sign in

**To Reproduce**
Steps to reproduce the behavior:

    1. Go to Login screen
    2. Click on 'Sign in with Google'
    4. Add the 'email ID'
    3. See error "Login Failed 10"

**Expected behavior**
Should be able to Sign in with Google
Should follow UI guideline for implementing Sign in with Google button

**Scr

[2020-12-27 09:43] plazzy99 commented on #81
this is because your sha1 key is not added to the project.

[2020-12-27 12:30] sumit619sharma commented on #81
Where i can get this sha 1 key

[2020-12-27 13:34] plazzy99 commented on #81
Here is the StackOverflow answer to get your sha1 key
https://stackoverflow.com/a/34223470/12203379

send me on a LinkedIn or Twitter dm
Refer to my profile for links.

[2020-12-29 11:59] sumit619sharma commented on #81
I m not able to connect my project with Firebase it show's  Gradle build issue. help me I stuck there from last week.

[2020-12-29 12:21] plazzy99 commented on #81
Are you working on the same or different project?

[2020-12-30 10:08] sumit619sharma commented on #81
same project, you assigned me add fb Login issue sir.

[2020-12-30 10:09] sumit619sharma commented on #81
same project. Sir you assigned me add fb Login issue.

[2021-01-05 10:10] sumit619sharma commented on #63
plz help me I stuck here , I tried all the way to connect with firebase but still nothing happened. I know the later steps of this issue but i stuck here and can't do anything

[2021-01-05 17:33] #77 closed

[2021-02-20 17:56] AnubhavPabby commented on #63
Can You Assign me this issue so that I can work on it during Gssoc?

[2021-02-22 06:22] rohitsigar commented on #81
To set up Google Sign-In for your Android apps, you need to add the SHA1 fingerprint for each app in your Project settings and also enable the google option in sign-in provider in the firebase console.

[2021-02-26 02:33] kunal299 commented on #63
@nakul-19 Can u plz assign this issue to me as a part of Gssoc.

[2021-03-02 11:59] nakul-19 commented on #63
@sumit619sharma may be this could be of help : https://stackoverflow.com/questions/45279479/error-could-not-parse-the-android-application-modules-gradle-config .

[2021-03-03 13:46] AnubhavPabby commented on #63
@nakul-19

-  Is your organization registered on Facebook developers site (https://developers.facebook.com/?no_redirect=1) ?  Because it is mentioned in facebook docs (https://developers.facebook.com/docs/facebook-login/android)
- Because if not first you have to register there with proper details of your app
- And then provide me following details
   - App id for this Project (https://developers.

[2021-03-03 13:56] AnubhavPabby commented on #63
Also is there any slack or discord channel of this organization where I can communicate with you people

[2021-03-10 06:43] sudhansukinng commented on #81
Hello, @sumit619sharma please assign me this issue.  I would like to work on this issue.

[2021-03-10 11:57] anirudhsai20 opened #82 "README.md file enhancement"
The README.md file an be enhanced by adding a list of all the open source programs in which this project is a part of. Also a beautiful table of contributors can be added and there are grammatical errors that needs correction.

[2021-03-11 07:31] Kaustubh-Umbarkar commented on #81
@dheerajkotwani can you assign me this issue ,I can help.

[2021-03-11 09:23] sudhansukinng commented on #81
@dheerajkotwani, thank you for assigning.

[2021-03-11 10:36] BHAVESH24042000 commented on #81
can I work on this issue, I am not a participant of GSSOC but willing to work on firebase related issues.

[2021-03-11 16:48] aman-senpai commented on #82
Hey, I'll love to enhance the documentation of this project.
Please assign this issue to me under GSSOC.

[2021-03-11 17:26] khareyash05 opened #83 "update contributing.md"
Hey!
I would like to add the following in the contributing.md -

1. Difference between GIT and GITHUB
2. How to clone,fork repository
3. How to create a branch and then use git push to push to repo
4. Create a PR
5.Squash commits in a single issue into one
6. Updating the forked and local repo as the updations are made in the upstream

[2021-03-13 19:48] codeDamon opened #84 "Profile edit page - Unclear edit fields"
**Describe the bug**
* In the Edit Profile Page, few of the fields are shown by default by 'Not Provided'
* There is not even any heading to these fields
* User has to first clear the EditText in order to view the hint.

**To Reproduce**
Steps to reproduce the behavior:
1. Open Profile from Drawer.
2. Click on edit icon present on the top right corner
3. See the edit texts with 'Not Provided'

**E

[2021-03-13 19:54] codeDamon opened #85 "No Lables in Top app bar"
**Describe the bug**
* In any page, there are no Lables.
* It only shows the name of the app

**Expected behavior**
* Every page should have specific lables to distinguish them.

**Would you like to work on the issue?**

- [x] Yes
- [ ] No

[2021-03-13 20:03] codeDamon opened #86 "[Optional Fix] Expanded FAQ has downward arrow"
**Describe the bug**
* When user expand a Question in FAQ, the arrow still points down

**To Reproduce**
Steps to reproduce the behavior:
1. Go to FAQ page
2. Click on any question
3. See error - arrow direction not changed

**Expected behavior**

Ideally arrow direction should point upwards when expanded.

**Would you like to work on the issue?**

- [x] Yes
- [ ] No

**Screenshots**

![ss](https:

[2021-03-13 20:15] codeDamon opened #87 "[Feature Request] - Dark Theme Support"
**Is feature request related to a problem?**
I believe dark mode is the need for this hour.
Every app and websites are releasing dark mode feature.
There should be dark mode for this app too.

**Describe the solution**
Implementing day/night support.

I can work on this, if this issue is appropiate.

[2021-03-14 14:05] anshul3pathi commented on #85
Hello, I'd like to work on this issue.
Also, can you tell what should be the specific title of each page, like should it correspond to the names of pages in the nav drawer?

[2021-03-14 16:26] anushka530 opened #89 "Add a logo to the app"
I will design a logo for app and add it as launcher icon

[2021-03-15 15:36] rajeshpanjiyar opened #90 "Adding CONTRIBUTORS.md file"
**Hi,** I would like to add a contributors file to add the **name and GitHub handle** of respected contributors.
- I am a participant under GSSoC'21

[2021-03-16 12:22] snehagarg-bit commented on #89
Along with logo we can also add the app launcher icon in Splash Screeen.

[2021-03-17 10:54] Shaswat-2203 commented on #81
Hey can I work on this issue for GSSOC21?

[2021-03-17 16:21] hemant2705 opened #91 "Splash Screen"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-03-20 11:59] aditi1403 opened #94 "Update README.md file"
I have made some grammatical edits to the README.md file. Kindly refer to PR #93.

[2021-03-22 07:10] Narotam-singh opened #95 "Adding App Icon"
I am a participant from GSSOC'21.

Sir, I want to **add an icon** to the app ,
Kindly assign me this issue , so that I can work on it .

[2021-03-23 17:22] naman5665 opened #96 "Adding Floating Action Button"
**Adding Floating Action Button For The Addition Of Plasma Donar And Patient**
Can I add a Floating Action Button on the home screen of the app.
By tapping this button and opting the desire option , user can navigate to the Add Donar or Add Patient Screen.

[2021-03-25 15:40] raghav-dalmia commented on #83
@PragatiVerma18 have a look at the relevance of the issue.

[2021-03-25 15:47] raghav-dalmia commented on #84
@codeDamon go ahead.

[2021-03-26 18:09] palsumit99 opened #97 "NEW ICON FOR THE ANDROID APP"
I would like to design a new icon for the application.
Please assign me the issue
[gssoc21]

[2021-03-27 03:24] palsumit99 commented on #97
Admin i want to solve this issue.
Please assign me

[2021-03-27 03:28] palsumit99 opened #98 "ADDING A NEW MAP API FOR FINDING THE PLASMA DONOR NEAR YOU"
Instead of adding location.
The app will detect the gps location of the plasma donor.
When someone needs plasma he/she needs to search for the particular blood group.
He/she will get location of the nearest plasma donors pin pointed.
I want to add this feature please assign me.

[2021-03-29 16:18] dheerajkotwani commented on #98
@palsumit99 You can use Google Maps API for implementing this and can display some custom markers on the map showing the nearby Plasma Donors.

[2021-03-29 16:19] dheerajkotwani commented on #96
@naman5665 you can start working on this

[2021-03-29 16:20] dheerajkotwani commented on #95
@Narotam-singh you can design an App Icon, we can use it if we like.

[2021-03-29 16:20] dheerajkotwani commented on #97
@palsumit99 you can design an icon for the app, we can use it if we liked,

[2021-03-29 16:23] #94 closed

[2021-03-29 16:24] dheerajkotwani commented on #89
@snehagarg-bit you can design the icon for the app, we can use if we liked,

[2021-03-29 16:27] dheerajkotwani commented on #87
We will be adding the UI for the app you can accordingly design the dark theme UI for it.

[2021-03-29 16:29] dheerajkotwani commented on #86
@codeDamon you can make the icon changing to upward or downward points according to its expanded or not

[2021-03-29 16:31] #85 closed

[2021-03-29 16:55] dheerajkotwani opened #99 "UI Enhancement"
**Is your feature request related to a problem? Please describe.**
The current UI is very basic. Participants can start picking some screens and start improving the UI for them.

**Describe the solution you'd like**
The new UI for the app can be found at https://www.figma.com/file/XNhCtffUPBLx5SrbUH9Fmf/Plasma-Doner-App?node-id=0%3A1

**Additional context**
Comment the screen you will be working o

[2021-03-29 17:35] naman5665 commented on #96
Thanks @dheerajkotwani

[2021-03-30 03:11] Narotam-singh commented on #95
Okay Sir

[2021-03-30 03:40] hemant2705 opened #101 "No Default Fragment"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [The app opens without opening any default fragment.]

**Describe the solution you'd like**
A clear and concise description of what you want to happen. I would like to make home fragment as default.

**Describe alternatives you've considered**
A

[2021-03-30 09:30] #86 closed

[2021-03-30 12:35] snehagarg-bit commented on #89
@dheerajkotwani ohky I will design the icon from this app and what about adding the launcher icon in splash screen?

[2021-03-30 13:26] snehagarg-bit commented on #81
@dheerajkotwani I try to run this app but its not running due to google sign in error can I work on this issue.

[2021-04-02 13:03] #101 closed

[2021-04-02 13:33] sitamadex11 commented on #99
I want to work on UI enhancement

[2021-04-03 09:37] palsumit99 opened #107 "LOGIN USING GOOGLE ACCOUNT"
I want to add a button where user can login using google account and also when the user is signed up for the plasma. There will be a message that this user is already signed in please login.

[2021-04-03 09:37] palsumit99 commented on #107
please assign this to me.

[2021-04-03 10:04] dheerajkotwani commented on #99
@sitamadex11 which screen will you be working on?

[2021-04-03 10:44] sitamadex11 commented on #99
@dheerajkotwani , sir I want to work on login page.

[2021-04-03 12:40] naman5665 commented on #96
Hey @dheerajkotwani I think I have solved the conflicts.Kindly review.

[2021-04-03 13:14] dheerajkotwani commented on #99
@sitamadex11 you can start working on login page ui

[2021-04-03 15:06] sitamadex11 commented on #99
@dheerajkotwani ok thankyou

[2021-04-03 16:33] sitamadex11 commented on #99
sir, may I have to create an issue for that?

[2021-04-04 03:03] #90 closed

[2021-04-04 05:58] dheerajkotwani commented on #99
@sitamadex11 you can create a separate issue for that screen

[2021-04-04 06:33] sitamadex11 opened #108 "Login page UI improvement"
I want to improve the login page UI.

[2021-04-04 06:34] sitamadex11 commented on #99
@dheerajkotwani sir I have created a new issue

[2021-04-05 03:42] raghav-dalmia commented on #108
Go ahead. 👍

[2021-04-05 03:50] sitamadex11 commented on #108
thank you very much ,sir

[2021-04-05 18:58] sitamadex11 commented on #108
![Screenshot_20210405-235311_Plasma Donor App](https://user-images.githubusercontent.com/76570320/113613464-e788c000-966e-11eb-88f3-16109c33565a.jpg)
Sir I have made the signin page is it ok

[2021-04-05 18:59] sitamadex11 commented on #108
Sir there are 4 pages related to sign in and sign up.... May I work on them?

[2021-04-05 19:19] ayushman999 opened #109 "Implementing bottom navigation bar."
**Is your feature request related to a problem? Please describe.**
It's the part of Figma design and I want to implement it.

**Describe the solution you'd like**
I'll be using the bottom navigation bar with and I'll try to keep the minsdk version low by using inbuilt features of android studio to create a bottom navigation bar.

**Describe alternatives you've considered**
It's a Figma design so I

[2021-04-05 19:35] ayushman999 opened #110 "Donor form UI"
**Is your feature request related to a problem? Please describe.**
I'll be creating the "fill the donor form" or Add Donor(according to the application)

**Describe the solution you'd like**
I'll be using a linear layout and some UI enhancement to match it with the Figma UI.

**Describe alternatives you've considered**
None since It's a UI from Figma.

**Additional context**
None.

[2021-04-06 12:36] srisatya1197 opened #111 "Improve tech stack used with logos in readme file."
I want to improve the tech stack with logos in readme file .As a whole read me file looks good but it's like a final touch to it . I'm a participant of GSSOC'21 I want to work on this issue @dhruv-1001 @naman360  @sitamadex11

[2021-04-06 15:27] dheerajkotwani commented on #108
yes you can

[2021-04-06 16:34] sitamadex11 commented on #108
ok thankyou

[2021-04-10 07:30] snehagarg-bit opened #115 "Fill the basic detail form UI Improvement"
I want to work on the fill the basic detail form UI improvement.

[2021-04-10 17:59] #108 closed

[2021-04-11 08:52] sitamadex11 opened #116 "Facebook Login and Google SignIn"
In my recent UI update, I have added two buttons for google and facebook authentication. I want to Implement the functionality of Facebook and Google signin

[2021-04-11 12:01] ayushman999 commented on #110
@dheerajkotwani Should I make a separate XML UI for it or make the changes in patient_form_fragment.xml (Add donor)?

[2021-04-11 12:02] ayushman999 commented on #110
and please assign the level too for this issue.

[2021-04-12 01:08] sitamadex11 commented on #116
@dhruv-1001 sir whenever I had created the issue for UI changes then there was not any level tag (like level0, level1, etc) except the GSSOC21 tag. Therefore my PR is not counted and I didn't get any marks. May you please add a level tag on that issue?

[2021-04-12 05:53] dhruv-1001 opened #117 "Add Search Filters"
View donor/patient shows all the data there is on the database.
Create search filters for Blood Group and Location so that the users can see the data that they have applied the filters for.

[2021-04-12 06:01] dhruv-1001 commented on #116
I've added the level tag now.

[2021-04-12 06:24] sitamadex11 commented on #116
@dhruv-1001 thankyou verymuch sir

[2021-04-12 19:46] naman5665 opened #118 "Adding Floating Action Button(2)."
**Adding Floating Action Button For The Addition Of Plasma Donar And Patient**

Can I add a Floating Action Button on the home screen of the app.
By tapping this button and opting the desire option , user can navigate to the Add Donar or Add Patient Screen.

[2021-04-13 09:01] Khushi-24 commented on #117
@dhruv-1001 Can I work on this?

[2021-04-13 17:35] dhruv-1001 commented on #117
@Khushi-24 You can start working on it.

[2021-04-15 01:56] dhruv-1001 commented on #118
@naman5665 aren't you assigned to #96 ? It's the same issue.

[2021-04-15 02:59] naman5665 commented on #118
Hey @dhruv-1001 Yes it is same but actually there was some problem in the tree of issue96 which I could not be able to solve.Thats why I created a new issue !!!

[2021-04-15 04:23] #96 closed

[2021-04-15 04:27] dhruv-1001 commented on #118
Okay, I've closed the issue #96

[2021-04-15 05:17] naman5665 commented on #118
Hey @dhruv-1001 thanks for assinging the issue

[2021-04-16 06:21] ayushman999 commented on #110
@dhruv-1001 please look into it.

[2021-04-16 13:57] sitamadex11 commented on #115
hello! may I work on this issue?

[2021-04-16 14:17] sitamadex11 opened #120 "Navigation Drawer UI improve"
Sir, I want to improve the UI of **the navigation drawer**.

![navigation drawer](https://user-images.githubusercontent.com/76570320/115037687-5d511f00-9eec-11eb-80bc-42371a95d005.png)

Please assign me this issue.

[2021-04-16 14:19] sitamadex11 opened #121 "Adding Bottom Navigation Bar"
Sir, I want to add the **bottom navigation bar**.
![bottom navigation bar](https://user-images.githubusercontent.com/76570320/115038080-d2245900-9eec-11eb-8799-fe1a09f07584.png)
Sir, please assign me this issue.

[2021-04-17 15:41] pallavidhere23 commented on #97
@dheerajkotwani ,Can I work on this Issue?

[2021-04-17 21:45] #118 closed

[2021-04-18 02:20] sitamadex11 commented on #121
thankyou sir

[2021-04-18 02:21] sitamadex11 commented on #120
thankyou sir

[2021-04-22 11:45] aditisneh opened #122 "Logo design"
I would like to design logo for Plasma Donor. And will add that in the readme file.

[2021-04-23 14:14] sitamadex11 opened #123 "ViewDonors and ViewPatients page UI improve"
I want to work on this issue.

[2021-04-23 14:15] sitamadex11 opened #124 "AddDonor and AddPatient page UI improve"
I want to work on this issue.

[2021-04-27 16:10] sitamadex11 opened #126 "show all latest twitter for donating plasma"
Actually, in this pandemic situation, many people are helping each other and there are several Twitter updates and resources. I have found a way to extract those tweets which could be shown in a web view in our app.
#### just like that :
![Untitled](https://user-images.githubusercontent.com/76570320/116274630-78e7df80-a7a0-11eb-9598-c7051645ac3d.png)
**All latest tweets can be fetched via relevant

[2021-05-02 19:22] #120 closed

[2021-05-04 06:53] snehagarg-bit commented on #115
@dhruv-1001 Sorry for the delay but I was covid positive so I was not able to contribute on this issue can I start contributing now?

[2021-05-04 11:32] sitamadex11 opened #128 "Add icon to the menus of the navigation drawer"
There has not any icon on the menus of the navigation drawer.

[2021-05-04 11:34] sitamadex11 commented on #117
may I work on this issue?
@Khushi-24

[2021-05-06 08:52] Khushi-24 commented on #117
@sitamadex11 I am not working on it. You can ask the admin and then can start working.

[2021-05-06 10:37] sitamadex11 commented on #117
Okkk thankyou verymuch @Khushi-24.
@dhruv-1001 sir may I work on this issue?

[2021-05-07 17:49] gargijs opened #131 "Profile Section UI improvement."
Profile Section UI improvement.

[2021-05-07 18:09] gargijs opened #132 "Authentication for signin and signup using email."
**Is your feature request related to a problem? Please describe.**
Verification email  will be sent to the respective email id so that no fake id can be made.

[2021-05-08 09:19] #121 closed

[2021-05-08 09:44] sitamadex11 commented on #117
@dheerajkotwani sir, may I work on this issue?

[2021-05-08 09:51] gargijs commented on #132
I want to work on this issue.

[2021-05-08 09:53] gargijs commented on #99
I have already created an issue for this. issue #131

[2021-05-09 12:38] AnubhavPabby commented on #84
@dheerajkotwani can I work on this issue?

[2021-05-09 12:44] AnubhavPabby commented on #116
@dhruv-1001 Can I work on this issue if its stale or not assigned to anyone?

[2021-05-09 13:44] #126 closed

[2021-05-09 22:31] #63 closed

[2021-05-12 08:13] ritmojs commented on #99
I want to work on Do you want to donate Plasma? UI Please assign this to me.

[2021-05-12 08:13] ritmojs opened #134 "Do you want to Donate Plasma? UI screen Creation."
Please assign this to me under GSSOC21

[2021-05-12 08:15] #134 closed

[2021-05-12 08:17] ritmojs opened #135 "Do you want to Donate Plasma? UI screen Creation."
**Is your feature request related to a problem? Please describe.**
This feature will ask user whether they want to donate or need a plasma.

[2021-05-12 08:22] ritmojs commented on #135
please assign this to me under GSSOC21

[2021-05-12 08:26] ritmojs opened #136 "Add Forget Password feature."
**Is your feature request related to a problem? Please describe.**
Forget Password will let user to reset their previous passwords.

[2021-05-12 08:26] ritmojs commented on #136
Please assign this to me under GSSOC21

[2021-05-13 12:14] #123 closed

[2021-05-17 15:27] vriddhi1203 commented on #107
@dheerajkotwani  I would like to work on this issue. Please assign it to me. Thankyou

[2021-05-24 07:26] subhangi2731 commented on #98
@dheerajkotwani please assign me this issue I see the pr has not been made I want to work

[2021-05-24 07:27] subhangi2731 commented on #117
@dhruv-1001 @dheerajkotwani please assign me this issue I want to work

[2021-05-24 07:27] subhangi2731 commented on #131
@dheerajkotwani @dhruv-1001 please assign me this issue I will send pr within 2 days

[2021-05-24 17:50] gargijs commented on #131
I am already working on this @subhangi2731

[2021-05-26 05:02] Ayushi7456 commented on #99
I would like to work on this as GSSOC participant. Is someone assigned to this or i can create new issue?

[2021-05-26 05:08] Ayushi7456 commented on #122
I would like to work on this issue as a GSSOC participant.

[2021-05-26 14:15] yash10019coder commented on #109
I'm ready to implement this please assign me this

[2021-05-26 14:46] ayushman999 commented on #109
Ye project 2mahine se inactive hai. Maine khud ke task ke liye ye issue banaya tha.

[2021-05-26 17:58] yash10019coder commented on #109
Ok  np

On Wed, May 26, 2021, 8:16 PM Ayushmaan sharma ***@***.***>
wrote:

[2021-05-27 16:15] #83 closed

[2021-06-05 21:01] #87 closed

[2021-06-05 21:01] #81 closed

[2021-06-21 21:05] #91 closed

[2021-06-22 11:56] #110 closed

[2021-06-23 20:25] #97 closed

[2021-06-30 05:21] #124 closed

[2021-07-10 10:14] #115 closed

[2021-07-13 17:42] #89 closed

[2021-07-15 04:33] #111 closed

[2021-07-15 14:31] #84 closed

[2021-07-15 14:31] #116 closed

[2021-07-17 07:30] #128 closed

[2021-07-17 07:30] #132 closed

[2021-07-23 17:30] #107 closed

[2021-07-30 11:33] #117 closed

[2021-07-30 11:33] #98 closed

[2021-07-30 11:33] #135 closed

[2021-07-30 11:33] #136 closed

[2021-07-30 18:33] #131 closed

[2021-08-01 06:23] #99 closed

[2021-08-01 06:23] #122 closed

[2021-08-01 19:58] #109 closed

[2021-10-05 14:06] swanjala opened #137 "View Model Implementation"
**Code improvement.**
I see from the project that most of the view models are marked as todos.

**Solution**
I would like to help by taking up the pending work of implementing the view models.